body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .output {
    grid-column: span 4;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .previous-operand {
    color: #888;
  }
  
  .current-operand {
    font-size: 1.5em;
  }
  
  button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a04945;
  }
  
  #result {
    margin-top: 10px;
    font-size: 1.2em;
  }
  